<nav class="header">
  <div class="title"><h2>xLauncher</h2></div>
  <button mat-icon-button class="close"  color="warn"> <mat-icon class="close">close</mat-icon> </button>
</nav>
<div class="content">
  <div class="left-side">
    <button mat-raised-button [disabled]="!validL || validG" (click)="downloadGame()">Установить</button>
    <button mat-raised-button [disabled]="!validL || validG" (click)="updateGame()">Обновить</button>
    <button mat-raised-button [disabled]="!validG || !validL" (click)="startGame()">Играть</button>
    <span></span>
  </div>

  <mat-progress-bar
    class="example-margin"
    [value]="50">
  </mat-progress-bar>

  <span *ngIf="!validG || !validL">{{errMessage}}</span>


</div>

