<div class="root">
    <img src="assets/images/background.png">
    <div class="header">
        <img class="border" src="assets/images/border-top.png">
        <div class="drag-and-drop"></div>
        <div class="header-wrapper">
            <button mat-icon-button (click)="closeApp()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="content" [ngSwitch]="state">
        <div class="left-side">
            <div *ngSwitchCase="AppState.FirstInit">
                <mat-spinner color="accent"></mat-spinner>
            </div>
            <div class="invalid-launcher-version" *ngSwitchCase="AppState.InvalidLauncherVersion">
                <span>Вы используете устаревшую версию лаунчера.</span>
                <button mat-raised-button color="accent" (click)="openExternal('http://valheim.by/')">Скачать</button>
            </div>
            <div *ngSwitchCase="AppState.InvalidGameVersion">
                <button *ngIf="!isGameInstalled && !isGameLoading" mat-raised-button [disabled]="!canInstallGame"  color="accent" (click)="installGame()">Установить</button>
                <button *ngIf="isGameInstalled && !isGameLoading" mat-raised-button [disabled]="!canUpdateGame"  color="accent" (click)="installGame()">Обновить</button>
            </div>
            <div class="game-installing"  *ngSwitchCase="AppState.Installing">
                <mat-spinner color="accent" *ngIf="!hasError"></mat-spinner>
                <div class="loading" *ngIf="!hasError">
                    <span class="message">{{ gameLoadingMessage }}</span>
                    <mat-progress-bar
                        color="accent"
                        class="example-margin"
                        [value]="valueProgressBar">
                    </mat-progress-bar>
                </div>
                <div class="installing-error" *ngIf="hasError">
                    <span class="title">Произошла ошибка</span>
                    <span class="description">{{ installingError }}</span>
                    <button mat-raised-button color="accent" (click)="installGame()">Повторить</button>
                </div>
            </div>
            <div class="play-game" *ngSwitchCase="AppState.GameReady">
                <mat-form-field *ngIf="serverList">
                    <mat-label>Выберите сервер</mat-label>
                    <mat-select [(ngModel)]="selectedServerIp">
                        <mat-option *ngFor="let server of serverList" [value]="server.IpAddress">{{ server.Name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="play-wrapper">
                    <button mat-raised-button class="play" color="accent" [disabled]="!isAdmin" (click)="startGame()">Играть</button>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="installGame()">
                        <mat-icon>build</mat-icon>
                        <span>Переустановить игру</span>
                      </button>
                      <button mat-menu-item (click)="openGameFolder()">
                        <mat-icon>folder</mat-icon>
                        <span>Папка с игрой</span>
                      </button>
                      <button mat-menu-item (click)="openLogFolder()">
                        <mat-icon>text_snippet</mat-icon>
                        <span>Логи</span>
                      </button>
                    </mat-menu>
                    <span class="no-admin-rights" *ngIf="!isAdmin">Запустите лаунчер с правами администратора.</span>
                </div>
            </div>
        </div>
        <div class="right-side" *ngIf="serverList && isLauncherVersionValid">
            <div *ngFor="let server of serverList">
                <iframe class="tracker" [src]="server.TrustedTrackerUrl"></iframe>
            </div>
        </div>
    </div>
    <div class="contacts">
        <img (click)="openExternal('http://valheim.by/')" src="assets/images/site.png">
        <img (click)="openExternal('https://discord.gg/XCA6bPp3qB')" src="assets/images/discord.png">
    </div>
</div>




<!-- <nav class="header">
  <div class="title"><h2>xLauncher</h2></div>
  <button mat-icon-button class="close"  color="warn"> <mat-icon class="close">close</mat-icon> </button>
</nav>
<div class="content">
  <div class="left-side">dsa
    <button mat-raised-button [disabled]="!validL || validG" (click)="downloadGame()">Установить</button>
    <button mat-raised-button [disabled]="!validL || validG" (click)="updateGame()">Обновить</button>
    <button mat-raised-button [disabled]="!validG || !validL" (click)="startGame()">Играть</button>
    <span></span>
  </div>


  <span *ngIf="!validG || !validL">{{errMessage}}</span>
</div>
 -->
